/* Hero section */
.bg-image, .wavystuff, .wavystuff2{
    box-sizing: border-box;
}
.bg-image{
    background-image: url(/images/qatar-copy-hero.jpg);
    overflow: hidden;
    height: 589px;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}
.wavystuff, .wavystuff2{
    overflow: hidden;
    display: block;
    margin-top: 465px;
}
.wavystuff2{
    margin-left: 1990px;
    margin-top: -128px;
}
.herobutton{
    position: absolute;
    color: black;
    height: 40px;
    line-height: 40px;
    width: 175px;
    border-color: orange;
    background-color: orange;
    font-size: 18px;
    font-weight: lighter;
    border-radius: 2px;
    border-style: solid;
    text-align: center;
    left: 25vw;
    top: 600px;
    text-decoration: none;
}
.herobutton:hover{
    border-radius: 3px;
    border-style: solid;
    background-color: rgb(255, 145, 0);
    border-color: rgb(255, 145, 0);
}