  body {
      margin: auto;
  }
  .navigation {
    margin: 50px;
    font-size: 22px;
    bottom: 20px;
  }
 .search, .ls .container5b{
   position: absolute;
 }
  .login, .signup, .navigation {
    color: #5c0931;
    font-family: 'Shanti', sans-serif;
  }
  .navigation, .container2b, .container3b{
    position: relative;
  }
  .signup {
    margin: 0;
  }
  .Search {
    top: 10px;
    right: 5px;
    width: 46px;
    height: 46px;
  }
  
  .container {
    display: flex;
    justify-content: center;
  }
  .container2b {
    bottom: 140px;
    left: 280px;
  }
  .container3b {
    bottom: 158px;
    left: 290px;
  }
  .Search {
    left: 98rem;
    top: 45px;
  }
  .container5b {
    top: 35px;
    right: 31rem;
  }
  .ls {
    left: 90rem;
    top: 40px;
    font-size: 13px;
  }