
  .navigation {
    margin: 50px;
    font-size: 22px;
    bottom: 20px;
  }
 .Search, .ls, .container5b{
   position: absolute;
 }
  .login, .signup, .navigation {
    color: #5c0931;
    font-family: 'Shanti', sans-serif;
  }
  .navigation, .container2b, .container3b{
    position: relative;
  }
  .signup {
    margin: 0;
  }
  .Search {
    right: 20rem;
    top: 41px;
    width: 46px;
    height: 46px;
  }
  
  .container {
    display: flex;
    justify-content: center;
  }
  .container2b {
    bottom: 140px;
    left: 280px;
  }
  .container3b {
    bottom: 158px;
    left: 290px;
  }
  .container5b {
    top: 35px;
    right: 31rem;
  }
  .ls {
    left: 88rem;
    top: 35px;
    font-size: 12px;
    font-weight: lighter;
  }
  .header{
    position: relative;
  }